*{
    color: white;
}
h1{
    padding: 10px 20px;
    font-weight: 500;
    font-size: 36px;
}
h2{
    padding: 10px 20px;
    font-weight: 500;
}
p{
    padding: 10px 0;
    line-height: 1.6rem;
    padding: 10px 20px;
}

#camp{
    position: relative;
}

div{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
.container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
}
.container .item{
    position: relative;
   flex:1;
    height: auto;
    padding-top: 30px;
    /*border: 1px solid rgb(159, 228, 95); */
    background: #26656F;    
}

.container .item .line{
    text-align: left                                                  ;
    width: 90%;
    height: 1px;
    padding: 0 10px;
    margin: 10px auto;
    background-color: white;
}

.container .item .camp_img{
    width: 25vw;
    height: 450px;
    position: relative;
    overflow: hidden;
    padding: 0;
    background: linear-gradient(180deg, #2A7682 6.5%, rgba(255, 255, 255, 0) 66.11%);
}
img{
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, #26656E 6.47%, rgba(255, 255, 255, 0) 74.97%);
}

.pin{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/camp/pin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 20px;
}
.addrs{
    display: inline-block;
    font-size: 14px;
    padding:0 ;
    vertical-align: middle;
}


.cate_select{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 2;
}

.cate_select div{
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 0 10px;
    font-size: 1rem;
    border: 1px solid #26656F;
    background-color: #fff;
    border-radius: 5px;
}

