/* 商品種類頁籤 */

#PD_category{
    display: flex;
    width: 700px;
    margin: 10px auto;
}
.cate_item{
    flex: 1;
    text-align: center;
}
.cate_item div{
    text-align: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 auto;    
    position: relative;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
}

.cate_item div:hover{
    background-color: #FFE97B;
}

/* 分類 */
.cate_item .item_camp{
    background-image: url("../assets/homepage/帳篷類-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_camp:hover{
    background-image: url("../assets/homepage/帳篷類-green.svg");
}
.cate_item .item_kitchen{
    background-image: url("../assets/homepage/客廳:廚房類-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_kitchen:hover{
    background-image: url("../assets/homepage/客廳:廚房類-green.svg");}

.cate_item .item_dishes{
    background-image: url("../assets/homepage/料理類-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_dishes:hover{
    background-image: url("../assets/homepage/料理類-green.svg");}


.cate_item .item_light{
    background-image: url("../assets/homepage/照明類-gray.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_light:hover{
    background-image: url("../assets/homepage/照明類-green.svg");}

.cate_item .item_inside{
    background-image: url("../assets/homepage/帳內-gray.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_inside:hover{
    background-image: url("../assets/homepage/帳內-green.svg");}

.cate_item .item_other{
    background-image: url("../assets/homepage/其他-gray.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_other:hover{
    background-image: url("../assets/homepage/其他-green.svg");}







/* 商品 list */
#PD_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

.PD_item{
    flex:1;
    min-width: 220px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color:white;
    padding:0  0 10px;
    margin: 10px;
}

.PD_item div{
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  box-sizing: border-box;

}

h3,p,button{
   margin: 15px;
}
p{
    font-size: 1rem;
    color: gray;
}
button{
    width: 90%;
    padding:5px ;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
   color: black;
    text-align: center;
}


a{
    color: black;
    text-decoration:none;
}
.PD_item div img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height:auto;
}
.PD_item div img:hover{
    width: 110%;
}