*{
    /* 初始化設定 */
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
h2{
    padding: 10px 0;
    font-weight: 500;

}
section{
    padding: 20px 0;
}
/* banner */
#Banner{
   border: 1px solid red;
}
.bannerpic{
   /* background-color: rgb(221, 221, 221); */
    height: 80vh;
    background-image: url("../assets/homepage/banner1.svg");
    background-repeat: no-repeat;
    background-position: center center ;
}
.light{
    width: 30px;
    height: auto;
    position: relative;
    left: 45%;
    border: 1px solid olive;
}
.leftimg{
    width: 20vw;
    height: auto;
    display: inline-block;
    position: relative;
    top: 30%;
    left: 5%;
}
.centerimg{
    width: 35vw;
    /*border: 1px solid green;*/
    height: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    left:28% ;
    transform: translateX(-50%);
}
.rightimg{
    width: 350px;
    height: auto;
    display: inline-block;
    position: relative;
    top: 30%;
    left:5% ;
}

.searchbox{
    /* border: 1px solid green; */
    margin: 0 auto;
    width: 70vw;
    height:190px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}


/* 關於露營蜂 */
#About{
    padding: 20px 0;
}

p{
    text-align:center; 
    font-weight: 400;

}



.aboutus{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content:center;
    margin: 20px auto;

}
.aboutus div:first-child{
    flex: 1.5;
    min-width: 350px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
.aboutimg{
    width: 100%;
    height: 100%;

    position: absolute;
    /*border: 1px solid gray;*/
    overflow: hidden;
    display: inline-block;
}
.aboutus div:nth-child(2){
   
    flex: 2;
    min-width: 350px;
}
ul{
   /* border: 1px solid purple;*/
   display: inline-block;
}
li{
    list-style:none;
    margin: 0;
    padding: 0;
}
li p{
    text-align: left;
    line-height: 1.6rem;
    max-width: 600px;
}


.LearnMore{
    padding: 10px;
   /*border: 1px solid red; */
    text-align: right;
    margin: 20px;
    text-decoration: none;
    vertical-align: middle;
}


