<div class="product_menu">
    <Navbar :link_color="'white'" :logo_color="'white'" :back_color="'green'"/>
    <div class="top_section" ref="top">
        <div class="left">
            <div class="mobile_title_section">
                <p>露營器具</p>
                <p>享受快樂露營時光必備的用具！</p>
            </div>
            <div class="product_nav">
                <div class="cate_item" @click="changeCate(0)" :class="{'green': current_cate == 0}">
                    <div class="cate_img">
                        <h1>ALL</h1>
                    </div>
                    <div class="cate_name_block" :class="{'green_name': green_name}">
                        <p class="cate_name">全部</p>
                    </div>
                </div>
                <div class="cate_item" v-for="(item,index) in cate_list" @click="changeCate(index+1)" :class="{'green': current_cate == index+1}">
                    <div class="cate_img">
                        <img :src="require(`../../assets/ProductLeftNav/${item.cate}.png`)">
                    </div>
                    <div class="cate_name_block" :class="{'green_name': green_name}">
                        <p class="cate_name">{{ item.cate_text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="background_green"></div>
        <div class="right">
            <div class="people_ani">
                <img src="../../assets/ProductMenu/people.ani.png">
            </div>
            <div class="block row_1" v-for="item in grid_row"></div>
            <div class="block row_2" v-for="item in grid_row"></div>
            <div class="block row_3" v-for="item in grid_row"></div>
            <div class="block row_4" v-for="item in grid_row"></div>
            <div class="block row_5" v-for="item in grid_row"></div>
            <div class="toplink_content">
                <div class="link_block" v-for="(item,index) in link_list" :class="'link_'+ (index+1)" v-cloak>
                    <NuxtLink :to="`/product/${item}`" class="hover_link" v-if="link_info.length == 6">
                        <p >{{ link_info[index].name }}</p>
                        <p>NT. {{ link_info[index].price }}</p>
                    </NuxtLink>
                    <img :src="require(`../../assets/ProductImage/${item}_bigimg.jpeg`)" alt="">
                </div>
                <div class="hide_block hide_1"></div>
                <div class="hide_block hide_2"></div>
                <div class="hide_block hide_3"></div>
            </div>
        </div>
    </div>
    <div class="bottom_section">
        <div class="product_list">
            <transition-group name="fade">
                <ProductListBlock  v-for="product in showList" :key="product.id" :product_info="product" class="product_item fade-item"/>
            </transition-group>
        </div>
    </div>
    <FooterSection/>
</div>