<div class="nav" :class="{ 'hide': nav_hide }">
  <div class="container" :class="back_color">
    <nuxt-link to="/" class="link">
      <div class="logo" :class="logo_color">
        <img src="../../assets/logo.png" alt="logo">
      </div>
    </nuxt-link>
    <div class="navbar" :class="[link_color, {'mobile_show': mobile_nav}]" @click="mobile_nav = false">
      <div class="mobile_logo">
        <nuxt-link to="/">
          <div class="mobile_logo_img">
            <img src="../../assets/logo.png" alt="logo">
          </div>
        </nuxt-link>
      </div>
      <nuxt-link to="/#About" @click="mobileNav">
        <p>關於露營蜂</p>
      </nuxt-link>
      <nuxt-link to="/camp_category" @click="mobileNav">
        <p>特色露營地</p>
      </nuxt-link>
      <nuxt-link to="/#Map">
        <p>我的露營地圖</p>
      </nuxt-link>
      <nuxt-link to="/product_category" @click="mobileNav">
        <p>露營商品</p>
      </nuxt-link>
      <nuxt-link to="/shopping_cart" class="cart" @click="mobileNav">
        <div class="cart_img">
          <img src="../../assets/Navbar/cart.png" alt="cart">
        </div>
        <div class="num" ref="ball" @click="mobileNav">
          <p>{{list_length}}</p>
        </div>
      </nuxt-link>
      <p class="mobile_cart_span">購物車</p>

    </div>
    <div class="hamburger" :class="{'mobile_show': mobile_nav}">
      <button @click="toggleNav">
        <div class="line_1 line"></div>
        <div class="line_2 line"></div>
        <div class="line_3 line"></div>
      </button>
    </div>
  </div>
</div>
