.camp_block {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  min-width: 300px;
  width: 250px;
  height: 100vh;
  background-color: #2A7682;
  transition: .5s;
  transform-origin: center center;
  user-select: none;
}

.camp_block:hover {
  filter: brightness(1.1);
  width: 450px;
  transform-origin: center center;
}

.link{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

.top_section {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 100px;
  padding: 0 20px;
  color: #fff;
  opacity: 0.8;
  user-select: none;
}

.camp_block:hover .top_section {
  opacity: 1;
}

.top_section .title_info h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

.top_section .title_info h1 span {
  font-size: 12px;
  margin-left: 10px;
}

.top_section .title_info  a{
  color: #fff;
}
.top_section .title_info  a:hover{
  color: rgb(196, 196, 196);
}

.top_section .title_info h4 {
  display: inline-block;
  max-width: calc(100% - 40px);
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: normal;
}

.top_section .place_section {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.top_section .place_section .place_img {
  width: 14px;
  margin-right: 5px;
}

.top_section .place_section .place_img img {
  width: 100%;
}

.top_section .like_section {
  position: absolute;
  right: 0;
  top:55px;
  right: 20px;
}

.top_section .like_section img {
  width: 30px;
  cursor: pointer;
}

.like_section input[type="checkbox"] {
  appearance: none;
}

.like_section input[type="checkbox"]~label .like {
  display: none;
}

.like_section input[type="checkbox"]~label .unlike {
  display: inline-block;
}

.like_section input[type="checkbox"]:checked~label .like {
  display: inline-block;
}

.like_section input[type="checkbox"]:checked~label .unlike {
  display: none;
}

.like_section img {
  filter: brightness(0) invert(1);
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 0;
}

.detial_info {
  font-size: 14px;
  line-height: 25px;
}

.back_section {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  background: linear-gradient(to bottom, #2A7682 40%, transparent 100%);
}

.gradient.dark_back {
  background: linear-gradient(to bottom, #26656F 40%, transparent 100%);
}

.camp_img {
  display: flex;
  align-items: flex-end;
}

.camp_img img {
  height: 80vh;
}

@media(max-width: 768px) {
  .camp_block {
    width: 100%;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
  }

  .camp_block:hover {
    filter: brightness(1.1);
    width: 100%;
  }

  .link{
    display: block;
  }

  .top_section {
    width: 100%;
    z-index: 2;
    top: 0px;
    padding: 10px 20px;
    opacity: 1;
    pointer-events: none;
  }

  .top_section .title_info h1 {
    font-size: 30px;
  }
  
  
  .top_section .title_info h4 {
    font-size: 22px;
    pointer-events: auto;
  }

  .top_section .place_section {
    position: absolute;
    right: 20px;
    background-color: #2a7682a8;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
  }

  .top_section .like_section{
    pointer-events: auto;
  }

  .top_section .like_section img {
    width: 35px;
  }

  .line {
    display: none;
  }

  .detial_info {
    font-size: 12px;
  }

  .back_section {
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: linear-gradient(to right, #2A7682 40%, transparent 100%);
  }

  .gradient.dark_back {
    background: linear-gradient(to right, #26656F 40%, transparent 100%);
  }

  .camp_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .camp_img img {
    object-fit: cover;
    width: 80%;
    height: 100%;

  }
}
