<div class="camp_block">
    <div class="top_section">
      <div class="title_info">
        <h1>{{ camp_info.number }}<span>{{cate_text}}</span></h1>
        <nuxt-link :to="route_link">
          <h4 @mouseenter="nameEnter" @mouseleave="nameLeave">{{ camp_info.place_name }}</h4>
        </nuxt-link>
        <div class="place_section">
          <div class="place_img">
            <img src="../../assets/CampCategory/location.png" >
          </div>
          <p>{{ camp_info.place }}</p>
        </div>
        <div class="like_section">
            <input type="checkbox" name="like" :id="`like_${index}`" v-model="like">
            <label :for="`like_${index}`">
                <img class="unlike" src="../../assets/Map/unlike.png" alt="unlike">
                <img class="like" src="../../assets/Map/like.png" alt="like">
            </label>
        </div>
      </div>
      <div class="line"></div>
      <p class="detial_info">{{ camp_info.key_des }}</p>
    </div>
    <div class="back_section">
      <nuxt-link :to="route_link" class="link">
      </nuxt-link>
      <div class="gradient" :class="{'dark_back': dark_back}"></div>
      <div class="camp_img">
        <img v-if="camp_info" :src="require(`../../assets/${ glamping }/${ camp_info.big_img }`)">
      </div>
    </div>
</div>


