*{
    /* 初始化設定 */
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    font-weight: 500;
    text-align: center;
    padding: 15px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
h1::after{
    content: "";
    position:absolute;
    top:50%;
    right:-30px;
    width: 36px;
    height: 2px;
    background-color: cadetblue;
}
h1::before{
    content: "";
    position:absolute;
    top:50%;
    left: -30px;
    width: 36px;
    height: 2px;
    background-color: cadetblue;
}

h2{
    padding: 10px 0;
    font-weight: 500;

}
section{
    padding: 20px 0;
}
/* banner */
#Banner{
  /*  border: 1px solid red;*/ 
}
.bannerpic{
   /* background-color: rgb(221, 221, 221); */
    height: 80vh;
    background-image: url("assets/homepage/banner1.svg");
    background-repeat: no-repeat;
    background-position: center center ;
}
.bannerpic h2{
    writing-mode: vertical-rl;
    font-weight: 200;
    font-size: 36px;
   position: absolute;
   right: 10%;
   top: 15%;
}


.light{
    width: 30px;
    height: auto;
    position: relative;
    left: 45%;
    /*border: 1px solid olive;*/
}
.leftimg{
    width: 20vw;
    height: auto;
    display: inline-block;
    position: relative;
    top: 30%;
    left: 5%;
}
.centerimg{
    width: 35vw;
    /*border: 1px solid green;*/
    height: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    left:28% ;
    transform: translateX(-50%);
}
.rightimg{
    width: 150px;
    height: auto;
    display: inline-block;
    position: relative;
    top: 30%;
    left:10% ;
}


  /* search section */
.searchbox{
    /* border: 1px solid green; */
    margin: 0 auto;
    width: 70vw;
    position: relative;
   
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.searchbox::before{
    content: "";
    background-image: url("assets/homepage/grass1.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -70%;
    width: 180px;
    height: 140px;

}
 
table{
   width: 100%;
   display: inline-block;
   text-align: center;

}
tr{
    display: inline-block;
    text-align: left;
    width: 20%;
    vertical-align: top;    
    margin: 20px;
}
tr:last-child{  
    display: inline-block;
    text-align: left;
    width: 35%;
    vertical-align: top;    
}
.search_title{
    margin-right: 15px;
    color: gray;
}
td{
    display: inline-block; 
    vertical-align: top;    

}
td div{
    display: inline-block;
    margin :0 10px 0 0 ;
    vertical-align: top;    
   
}
.searchline{
    margin: 0 auto;
    width: 100%;
    height: 1px;
   background-color: rgb(212, 212, 212);
}
button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 16px 0;
    width: 150px;
    height: 36px;
    font-size: 1rem;
    background-color: #fff;
    border: 0.5px solid #2A7682;
    border-radius: 5px;
}
button:hover{
    background-color: #8acbd4;
}




/* 關於露營蜂 */
#About{
    padding: 20px 0;
}

p{
    text-align:center; 
    font-weight: 400;

}

.aboutus{
    /*border: 1px solid green;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content:center;
    margin: 20px auto;

}
.aboutus div:first-child{
    flex: 1.5;
    /*min-width: 350px;*/
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.aboutimg{
    width: 100%;
    height: 100%;

    position: absolute;
    /*border: 1px solid gray;*/
    overflow: hidden;
    display: inline-block;
}

.aboutus div:nth-child(2){
    vertical-align: middle;
    flex: 2;
    /*min-width: 350px;*/
}
ul{
   /* border: 1px solid purple;*/
   display: inline-block;
}
li{
    list-style:none;
    margin:30px 0;
    padding: 0;
}

li div:first-child{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

li div:first-child img{
    position: absolute;
    height: 100%;
}
li div:nth-child(2){
   
    height: auto;
    display: inline-block;
    vertical-align: middle;

}
li h2{
    display: inline-block;
}

li p{
    text-align: left;
    line-height: 1.6rem;
    max-width: 600px;
}

.LearnMore{
    text-align: right;
}

.LearnMore div{
    padding: 10px;
    display: inline-block;
    position:relative;
    vertical-align: middle;
}
a{
    text-decoration:none;
    color: black;
}



/* 商品種類頁籤 */

#PD_category{
    display: flex;
    width: 700px;
    margin: 10px auto;
}
.cate_item{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cate_item .cate_img{
    text-align: center;
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    margin: 0 auto;    
    position: relative;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
}

.cate_item p{
    margin-top: 5px;
}

.cate_item .cate_img:hover{
    background-color: #FFE97B;
}

/* 商品分類 */
.cate_item .item_camp{
    background-image: url("../assets/homepage/camp-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_camp:hover{
    background-image: url("../assets/homepage/camp-green.svg");
}
.cate_item .item_kitchen{
    background-image: url("../assets/homepage/kitchen-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_kitchen:hover{
    background-image: url("../assets/homepage/kitchen-green.svg");}

.cate_item .item_dishes{
    background-image: url("../assets/homepage/dishes-gray.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_dishes:hover{
    background-image: url("../assets/homepage/dishes-green.svg");}


.cate_item .item_light{
    background-image: url("../assets/homepage/light-gray.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_light:hover{
    background-image: url("../assets/homepage/light-green.svg");}

.cate_item .item_inside{
    background-image: url("../assets/homepage/inside-gray.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_inside:hover{
    background-image: url("../assets/homepage/inside-green.svg");}

.cate_item .item_other{
    background-image: url("../assets/homepage/other-gray.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cate_item .item_other:hover{
    background-image: url("../assets/homepage/other-green.svg");}


.recommend_list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.recommend_list .recommend_item{
    margin: 0 20px;
}