
    <div id="camp">
        <div class="cate_select">
            <div @click="glamp">豪華露營</div>
            <div @click="camp">紮營露營</div>
        </div>
        <div class="container">
        <div class="item" v-for="(camp,index) in camps.slice(0,4)"  :key="index">
            <h1>{{camp.index}}</h1>
            <h2>{{camp.title}}</h2>  
            <div class="pin"></div><p class="addrs">{{camp.addrs}}</p>       
            <div class="line"></div>
            <p>{{camp.desc}}</p>
            <nuxt-link to="">
                <div class="camp_img"><img :src="camp.camp" alt=""></div>
            </nuxt-link>
        </div>
        </div>

    </div>

